/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(./images/back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #d4d4d4;
  font-family: "Fira Code", "Courier New", monospace;
  height: fit-content;
  margin: 0;
  padding: 0;
}

pre#content {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
  line-height: 1.6; /* Aumentar la distancia entre líneas */
}

.key {
  color: #9cdcfe; /* Light blue color for keys */
}

.value {
  color: #ce9178; /* Light orange color for values */
}

@media (max-width: 425px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  pre#content {
    font-size: smaller; /* Reduce aún más el tamaño de la fuente */
  }
}
